mgcp
 bind ip 192.168.0.9
 # default port is 2427 (is used for MSC's MGW)
 bind port 12427
line vty
 # default VTY interface is on 127.0.0.1 (used for MSC's MGW)
 bind 127.0.0.2

log stderr
 logging filter all 1
 logging print extended-timestamp 1
 logging print category 1
 logging print category-hex 0
 logging print level 1
 logging print file basename last
 logging level set-all info
